# require pnpm to use the same node version as the project (for more rigour when publishing also set in release.yml)
use-node-version=20.18.0

# only resolve local deps to local files with symlinks when workspace: protocol is used (predictability)
link-workspace-packages=false

# use workspace: protocol but do not use specific versions (rolling)
save-workspace-protocol=rolling

# ensure packages can only be published from the main branch
publish-branch=main

# strictly require the runtime engine
# engine-strict=true

# auto-install peer dependencies when installing a package if they are not already installed
# auto-install-peers=true

# strictly require peer dependencies in correct version ranges to be installed (if not already installed)
# unfortunately many upstream packages do not have correct peer dependencies (maintainers forget to update version ranges)
# strict-peer-dependencies=true

# require pnpm to use exct versions when installing packages via `pnpm add` (safest) e.g. "1.1.1" vs. "^1.1.1"
# save-prefix=""

# uncomment to set registry preferences (required if using any private registries)
# @exampleorg:registry=https://registry.npmjs.org
# registry=https://registry.npmjs.org
# registry=http://localhost:4873
# registry=https://npm.pkg.github.com

# reference auth token from environment variable
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}

# the following may be required for using astro with pnpm in certain cases (uncomment if required)
# shamefully-hoist=true

# if there are issues with tests instead of hoisting everything one can try to only hoist test dependencies
# @see https://pnpm.io/npmrc#dependency-hoisting-settings (so far no issues)
# public-hoist-pattern[]=@vitest/expect # if using vitest
# public-hoist-pattern[]=@jest/expect # if using jest

# allow pnpm to run scripts (may be required for pagefind if using a postbuild script)
# ignore-scripts=false

# allow or disallow pnpm to run pre/post scripts (default is `true`) -- (currently required for `postshadcn` script)
# @see https://pnpm.io/cli/run#enable-pre-post-scripts
# enable-pre-post-scripts=true

